

<!-- <app-top-nav></app-top-nav>
<br><br>
<app-header></app-header>
<app-left-text-block></app-left-text-block>
<app-footer></app-footer> -->

<!-- <app-callback-website></app-callback-website> -->


<!-- <app-one-way-binding></app-one-way-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
 <!-- <app-event-binding></app-event-binding> -->


<!-- <app-ng-if-demo></app-ng-if-demo> -->
<!-- <app-ng-for-demo></app-ng-for-demo> -->

<!-- <app-ng-switch-demo></app-ng-switch-demo> -->
<!-- <app-use-custom-directive></app-use-custom-directive> -->

<!--Input Decorator Demo  -->
 <!-- <app-product-list></app-product-list> -->

<!-- Output Decorator Demo -->
<!-- <app-parent></app-parent> -->

<!-- PIPES DEMO BUILTIN AND CUSTOM -->
<!-- <app-cuatom-pipe-demo></app-cuatom-pipe-demo>
<app-builtin-pipes-demo></app-builtin-pipes-demo> -->


<!-- Lifecycle Hooks -->
<!-- <app-cparents></app-cparents> -->

<!-- Services Demo -->
 <!-- <app-utility-consume-service></app-utility-consume-service> -->
 <app-http-consume></app-http-consume>

<router-outlet />
