<div class="mybackground">
  <h1>Who am I</h1>
  <hr />
  <p>
      .container has a max width pixel value, whereas .container-fluid
      is max-width 100%. .container-fluid continuously resizes as you
      change the width of your window/browser by any amount. .container
      resizes in chunks at several certain widths, controlled by media
      queries (technically we can say it's “fixed width” because pixels
      values are specified, but if you stop there, people may get the
      impression that it can't change size - i.e. not responsive.) When
      using .container-fluid because the witdh is related to the
      viewport width the display is dynamic Use .container-fluid when
      you want your page to shapeshift with every little difference in
      its viewport size. Use .container when you want your page to
      shapeshift to only 5 kinds of sizes, which are also known as
      "breakpoints".
  </p>
  <button class="btn bg-danger text-white">Wanna Know Me</button>
</div>